button{
    display: block;
    width: 160px;
    height: 40px;
    background-color: lightblue;
    cursor: pointer;
}

.button-group{
    padding-left: 20%;
}

.student-update{
    width: 100%;
    color: white;
    padding: 0;
}

.student-delete{
    width: 100%;
    padding: 0;
}

.hide-message{
    display: none;
} 
.show-message{
    display: block;
    color: red;
    text-align: center;
}

.student-list{
    table-layout: fixed;
    width: 100%;
    white-space: normal;
}

.grade-average{
    display: inline-block;
}

@media only screen and (max-width: 450px){
    .table>tbody>tr>td.td-buttons{
        padding: 8px 0;
    }

} 

